<h1>My lists</h1>

<div class="container">
<% @lists.each do |list|  %>
  <div class="card">
    <div class="card-info">
      <h2><%= link_to list.name , list_path(list) %></h2>
    <%= cl_image_tag(list.photo.key) if list.photo.attached? %>

    </div>
  </div>

<% end %>
</div>
<%= link_to "Add a list", new_list_path %>


